PORT=
MONGODB_URI=
NODE_ENV=



ACCESS_TOKEN=
REFRESH_TOKEN=

GG_CLIENT_ID=
GG_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
grant_type=

MAIL_MAILER=
MAIL_HOST=
MAIL_PORT= 
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL=
VNP_RETURN_URL=
